<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    @Styles.Render("~/Content/CadeODinheiro")
    @Styles.Render("~/Content/themes/smartadmin")
    <!--<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">-->
    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">-->
    <!-- SmartAdmin RTL Support is under construction
         This RTL CSS will be released in version 1.5
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->
    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon_t.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon/favicon_t.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">*@

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/Content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/Content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>

<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #CSS Links                |  all CSS links and file paths  |
|  02. #FAVICONS                 |  Favicon links and file paths  |
|  03. #GOOGLE FONT              |  Google font link              |
|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
|  05. #BODY                     |  body tag                      |
|  06. #HEADER                   |  header tag                    |
|  07. #PROJECTS                 |  project lists                 |
|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
|  09. #MOBILE                   |  mobile view dropdown          |
|  10. #SEARCH                   |  search field                  |
|  11. #NAVIGATION               |  left panel & navigation       |
|  12. #MAIN PANEL               |  main panel                    |
|  13. #MAIN CONTENT             |  content holder                |
|  14. #PAGE FOOTER              |  page footer                   |
|  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
|  16. #PLUGINS                  |  all scripts and plugins       |

===================================================================

-->
<!-- #BODY -->
<!-- Possible Classes

    * 'smart-skin-{SKIN#}'
    * 'smart-rtl'         - Switch theme mode to RTL (will be avilable from version SmartAdmin 1.5)
    * 'menu-on-top'       - Switch to top navigation (no DOM change required)
    * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
    * 'fixed-header'      - Fixes the header
    * 'fixed-navigation'  - Fixes the main menu
    * 'fixed-ribbon'      - Fixes breadcrumb
    * 'fixed-footer'      - Fixes footer
    * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->
<body class="smart-style-1">  @*menu-on-top*@

    <!-- #HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"><img alt="Tiag Weber" src="~/Content/img/dinheiro.png" /></span>
            <!-- END LOGO PLACEHOLDER -->
            <!-- Note: The activity badge color changes when clicked and resets the number to 0
                 Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
            <!--<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>-->
            <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
            <div class="ajax-dropdown">

                <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                <!--<div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/mail.html">
                        Msgs (14)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/notifications.html">
                        notify (3)
                    </label>
                </div> -->
                <!-- notification content -->
                <div class="ajax-notifications custom-scroll">

                    <div class="alert alert-transparent">
                        <h4>Clique em um botão para exibir as mensagens aqui</h4>
                        This blank page message helps protect your privacy, or you can show the first message here automatically.
                    </div>

                    <i class="fa fa-lock fa-4x fa-border"></i>

                </div>
                <!-- end notification content -->
                <!-- footer: refresh area -->
                <span>
                    <button type="button" data-loading-text="">
                        <i class='fa fa-refresh fa-spin'></i> Carregando..." class="btn btn-xs btn-default pull-right">
                        <i class="fa fa-refresh"></i>
                    </button>
                </span>
                <!-- end footer -->

            </div>
            <!-- END AJAX-DROPDOWN -->
        </div>

        <!-- #TOGGLE LAYOUT BUTTONS -->
        <!-- pulled right: nav area -->
        <div class="pull-left label-welcome">
            @RenderSection("welcome", true)
        </div>
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->
            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                @RenderSection("loginInfoMobile", true);
            </ul>

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="Login/EfetuarLogout" title="Sign Out" data-action="userLogout" data-logout-msg="Você pode melhorar sua segurança ainda mais, depois de sair feche este navegador"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->
            <!-- fullscreen button -->
            <!--<div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>-->
            <!-- end fullscreen button -->
            <!-- multiple lang dropdown : find all flags in the flags page -->
            <!--<ul class="header-dropdown-list hidden-xs">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/Content/img/blank.gif" class="flag flag-br" alt="Brasil"> <span> BR </span> <i class="fa fa-angle-down"></i> </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="active">
                            <a href="javascript:void(0);"><img src="~/Content/img/blank.gif" class="flag flag-br" alt="Brasil"> BR</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/Content/img/blank.gif" class="flag flag-es" alt="Spanish"> Spanish</a>
                        </li>
                    </ul>
                </li>
            </ul>-->
            <!-- end multiple lang -->

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->
    <!-- #NAVIGATION -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

        <!-- User info -->
        <div class="login-info">
            <a href="#MyData">
                @RenderSection("loginInfo", true)
            </a>
        </div>
        <!-- end user info -->
        <!-- NAVIGATION : This navigation is also responsive

        To make this navigation dynamic please make sure to link the node
        (the reference to the nav > ul) after page load. Or the navigation
        will not initialize.
        -->
        <nav>
            <!--
            NOTE: Notice the gaps after each icon usage <i></i>..
            Please note that these links work a bit different than
            traditional href="" links. See documentation for details.
            -->

            <ul>
                <li class="active">
                    <a href="Home/PaginaInicial">
                        <i class="fa fa-lg fa-fw fa-home"></i>
                        <span class="menu-item-parent">Página Inicial</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-lg fa-fw fa-pencil"></i>
                        <span class="menu-item-parent">Cadastro</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="Category">Categoria</a>
                        </li>
                        <li class="">
                            <a href="Account">Conta</a>
                        </li>
                        <li class="">
                            <a href="Notification">Notificação</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="ExpenseIncome/Lancamento">
                        <i class="fa fa-plus"></i>
                        <span class="menu-item-parent">Registrar Lançamento</span>
                    </a>
                </li>
                <li class="">
                    <a href="ExpenseIncome/Extrato">
                        <i class="fa fa-lg fa-fw fa-file-excel-o"></i>
                        <span class="menu-item-parent">Extrato</span>
                    </a>
                </li>
                <li class="">
                    <a href="ExpenseIncome/SaldoData">
                        <i class="fa fa-lg fa-fw fa-file-excel-o"></i>
                        <span class="menu-item-parent">Saldo por Data</span>
                    </a>
                </li>
                <li class="">
                    <a href="ExpenseIncome/PagamentoCartaoCredito">
                        <i class="fa fa-lg fa-fw fa-credit-card"></i>
                        <span class="menu-item-parent">Pagamento C. Crédito</span>
                    </a>
                </li>
                <li class="">
                    <a href="ExpenseIncome/Transferencia">
                        <i class="fa fa-lg fa-fw fa-mail-forward"></i>
                        <span class="menu-item-parent">Transferência</span>
                    </a>
                </li>
                <li class="">
                    <a href="Consult/ResumoMensal">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="menu-item-parent">Resumo Mensal</span>
                    </a>
                </li>
                <li class="">
                    <a href="Consult/Previsao">
                        <i class="fa fa-sliders"></i>
                        <span class="menu-item-parent">Previsão Despesa</span>
                    </a>
                </li>
                <li class="">
                    <a href="Configuracoes">
                        <i class="fa fa-gears"></i>
                        <span class="menu-item-parent">Configurações</span>
                    </a>
                </li>
                <li class="">
                    <a href="#" onclick="efetuarLogoff();">
                        <i class="fa fa-sign-out"></i>
                        <span class="menu-item-parent">Sair</span>
                    </a>
                </li>



            </ul>
        </nav>


        <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

    </aside>
    <!-- END NAVIGATION -->
    <!-- #MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <!--<span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>
            </span> -->
            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <!-- This is auto generated -->
            </ol>
            <!-- end breadcrumb -->
            <!-- You can also add more buttons to the
            ribbon for further usability

            Example below:

            <span class="ribbon-button-alignment pull-right">
            <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
            <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
            </span> -->

        </div>
        <!-- END RIBBON -->
        <!-- #MAIN CONTENT -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- END #MAIN CONTENT -->

    </div>
    <!-- END #MAIN PANEL -->
    <!-- #PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">Tiago Weber © 2014-@DateTime.Now.Year</span>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- END FOOTER -->
    <!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
         Note: These tiles are completely responsive, you can add as many as you like -->
    <div id="shortcut">

    </div>

    <!-- END SHORTCUT AREA -->
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/Scripts/smartadmin/plugin/pace/pace.min.js"></script>-->
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->

    <script type="text/javascript">
        function efetuarLogoff() {
            location.href = "Login/EfetuarLogout";
        }
    </script>

    <script>
        if (!window.jQuery) {
            document.write('<script src="~/Scripts/jquery-1.8.3.min.js"><\/script>');
        }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="~/Scripts/jquery-ui-1.8.24.min.js"><\/script>');
        }
    </script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="~/Scripts/smartadmin/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.PrintArea.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/smartadmin/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="~/Scripts/smartadmin/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="~/Scripts/smartadmin/smartwidgets/jarvis.widget.min.js"></script>

    <!-- FLOT CHARTS -->
    <script src="~/scripts/flot/jquery.flot.min.js"></script> 
    <script src="~/scripts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/scripts/flot/jquery.flot.categories.min.js"></script>

    @*<!-- SPARKLINES -->
    <script src="~/Scripts/smartadmin/plugin/sparkline/jquery.sparkline.min.js"></script>*@

    <!-- JQUERY VALIDATE -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="~/Scripts/smartadmin/masked-input/jquery.maskedinput.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>

    <script src="~/scripts/smartadmin/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="~/Scripts/smartadmin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="~/Scripts/smartadmin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="~/Scripts/smartadmin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- SmartClick: For mobile devices -->
    <script src="~/Scripts/smartadmin/smartclick/smartclick.js"></script>

    <!--[if IE 7]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/Scripts/smartadmin/app.js"></script>

    <!--<script src="~/Scripts/smartadmin/jquery-easyui/jquery.easyui.min.js"></script>

    <script src="~/Scripts/smartadmin/redelinear.js"></script>-->

</body>

</html>
