@model PagedList.IPagedList<CadeODinheiro.Core.Entity.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentFormLayout.cshtml";
}

@section headerWidget{
    <h2>Categoria</h2>
    &nbsp;&nbsp;<i id="divLoading" style="display: none" class="fa fa-cog fa-2x fa-spin"></i>
}

@using (Ajax.BeginForm("Index", "Category", new AjaxOptions()
{
    HttpMethod = "Post",
    LoadingElementId = "divLoading",
    OnSuccess = "OnEndProccessMensagemComReload"
},
    new { @class = "smart-form" }))
{
    @Html.AntiForgeryToken()
    <div align="right">
        <button type="submit" class="btn btn-primary  btn-lg" name="navegaPagina" value="N">Cadastrar Categoria</button>
    </div>
    <br />
    <table class="table table-bordered col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <thead>
            <tr>
                <th class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-align-center">Descrição</th>
                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-align-center">Tipo</th>
                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-align-center">Alterar</th>
                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-align-center">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="left">@Html.DisplayFor(modelItem => item.descricao)</td>
                    @if (item.CategoryType == CadeODinheiro.Core.Entity.Enum.CategoryType.Despesa) { <td align="center">Despesa</td> }
                    @if (item.CategoryType == CadeODinheiro.Core.Entity.Enum.CategoryType.Receita) { <td align="center">Receita</td> }
                    @if (item.CategoryType == CadeODinheiro.Core.Entity.Enum.CategoryType.Transferencia) { <td align="center">Transferência</td> }
                    @if (item.CategoryType == CadeODinheiro.Core.Entity.Enum.CategoryType.PagamentoCartaoCredito) { <td align="center">Pagamento Cartão de Crédito</td> }
                    <td align="center"><button type="submit" class="btn btn-default" name="alterarCategoria" value="@item.sID"><i class="fa fa-pencil-square-o"></i></button></td>
                    <td align="center"><button type="submit" class="btn btn-default" name="excluirCategoria" value="@item.sID"><i class="fa fa-times-circle"></i></button></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @if (Model.HasPreviousPage)
        {
            <button type="submit" name="navegaPagina" value="1"><<</button>
            @*@Html.ActionLink("<<", "Index", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })*@
            @Html.Raw(" ");
            <button type="submit" name="navegaPagina" value="@((Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)-1)">< Anterior</button>
            @*@Html.ActionLink("< Anterior", "Index", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })*@
        }
        else
        {
            @:<<
            @Html.Raw(" ");
            @:< Anterior
        }
        | Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        de @Model.PageCount |
        @if (Model.HasNextPage)
        {
            <button type="submit" name="navegaPagina" value="@((Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)+1)">Próxima ></button>
            @*@Html.ActionLink("Próxima >", "Index", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })*@
            @Html.Raw(" ");
            <button type="submit" name="navegaPagina" value="@Model.PageCount">>></button>
            @*@Html.ActionLink(">>", "Index", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })*@
        }
        else
        {
            @:Próxima >
            @Html.Raw(" ")
            @:>>
        }
    </div>
}